.touristPlaces{
    padding: 2em 6em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.touristPlaces__list{
    width: 70vw;
}



@media (max-width: 950px) {
    .touristPlaces{
        align-items: center;
        padding: 0.5em 0 0 0;
        margin-bottom: 4em;
        gap: 0;
    }
    .touristPlaces__list{
        width: 100%;
        padding: 0.5em  1em ;
    } 
}


@media (max-width: 720px) {
    .touristPlaces__list{
        width: 70%;
    }
}

@media (max-width: 500px) {
    .touristPlaces{
        margin-bottom: 6em;
    }
    .touristPlaces__list{
        width: 100%;
    }
    
}